html
  head
    title Matts Blog
    link(href='https://fonts.googleapis.com/css?family=Heebo', rel='stylesheet')
    style.
      html,
      body {
      font-family: 'Heebo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: #f4f4f4;
      color: #373737;
      margin: 0%;
      text-align: center;
      }
  body
    h1 Articles
    p
      a(href="./usable-ui.html") Usable UI Guidelines
    p
      a(href="./learn-go-guide.html") Learn Go Guide
